extends: default

rules:

  # Disable line-length and truthy values reporting
  line-length: disable
  truthy: disable

  # Max 1 space to separate the elements in brakets
  braces:
    max-spaces-inside: 1

  # Max 1 space in empty brackets
  brackets:
    min-spaces-inside-empty: 0
    max-spaces-inside-empty: 1
